/*************************** Shopping list feed *******************************/
.feed-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 2vh;
    width: 60vw;
    height: 60vh;
    overflow-y: auto;
}

.delete{
    border: none;
    font-size: 2vh;
    padding: 0 3px;
    background-color: var(--delete-button);
    color: var(--cta_text-color);
    border-radius: 3px;
}