:root{
  --background-color: #301a94;
  --cta_bg-color: #009b8e;
  --cta_text-color: #e0e0e0;
  --form_bg-color: #009b8e;
  --text-color: #e0e0e0;
  --list-color: #216963;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*************************** General styling *******************************/
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box{
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
}